<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sources</h1>
            <p>A list of people who are known sources for the Daily Bruin.</p>
            <table id="sourceTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name of Source</th>
                        <th>Title</th>
                        <th>Organization</th>
                        <th>Work Phone</th>
                        <th>Cell Phone</th>
                        <th>Other Phone</th>
                        <th>Work Email</th>
                        <th>Personal Email</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each response}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.org}}</td>
                        <td>{{this.workPhone}}</td>
                        <td>{{this.cellPhone}}</td>
                        <td>{{this.otherPhone}}</td>
                        <td>{{this.workEmail}}</td>
                        <td>{{this.personalEmail}}</td>
                        <td>{{this.notes}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--custom page JS-->
<script src="/javascripts/page.js"></script>