<div id="modal-container"></div>
<!--Actual page content follows from here-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sources</h1>
            <p>A list of people who are known sources for the Daily Bruin.</p>
            <table id="sourceTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name of Source</th>
                        <th>Title</th>
                        <th>Organization</th>
                        <th>Work Phone</th>
                        <th>Cell Phone</th>
                        <th>Other Phone</th>
                        <th>Work Email</th>
                        <th>Personal Email</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each response}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.org}}</td>
                        <td>{{this.workPhone}}</td>
                        <td>{{this.cellPhone}}</td>
                        <td>{{this.otherPhone}}</td>
                        <td>{{this.workEmail}}</td>
                        <td>{{this.personalEmail}}</td>
                        <td>{{this.notes}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--custom modal; the \ are necessary to prevent the server from trying to fill them up-->
<script type="text/x-handlebars" id="modal-template">
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">\{{about}}</h4>
                </div>
                <div class="modal-body">
                    \{{#if delete}}
                    <p>Are you sure you want to delete this row?</p>
                    <button class="btn btn-default submit">Yes</button>
                    \{{else}} \{{#each header}}
                    <div class="form-group">
                        <label>\{{map this}}</label>
                        <input class="form-control" id="\{{this}}">
                    </div>
                    \{{/each}}
                    <p><b>At least one field must be complete.</b></p>
                    <button class="btn btn-default submit">Submit</button>
                    \{{/if}}
                    <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>
<!--custom page JS-->
<script src="/javascripts/page.js"></script>