<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sources</h1>
            <p>A list of people who are known sources for the Daily Bruin.</p>
            <table id="sourceTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name of Source</th>
                        <th>Title</th>
                        <th>Organization</th>
                        <th>Work Phone</th>
                        <th>Cell Phone</th>
                        <th>Other Phone</th>
                        <th>Work Email</th>
                        <th>Personal Email</th>
                        <th>Notes/</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td contentEditable = "true">{{response.name}}</td>
                        <td contentEditable = "true">{{response.title}}</td>
                        <td contentEditable = "true">{{response.org}}</td>
                        <td contentEditable = "true">{{response.workPhone}}</td>
                        <td contentEditable = "true">{{response.cellPhone}}</td>
                        <td contentEditable = "true">{{response.otherPhone}}</td>
                        <td contentEditable = "true">{{response.workEmail}}</td>
                        <td contentEditable = "true">{{response.personalEmail}}</td>
                        <td contentEditable = "true">{{response.notes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>