<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Sources</h1>
            <p>A list of people who are known sources for the Daily Bruin.</p>
            <table id="sourceTable" class="table table-striped">
                <thead>
                    <tr>
                        <th data-override="name">Name of Source</th>
                        <th data-override="title">Title</th>
                        <th data-override="org">Organization</th>
                        <th data-override="workPhone">Work Phone</th>
                        <th data-override="cellPhone">Cell Phone</th>
                        <th data-override="otherPhone">Other Phone</th>
                        <th data-override="workEmail">Work Email</th>
                        <th data-override="personalEmail">Personal Email</th>
                        <th data-override="notes">Notes/</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each response}}
                    <tr id="{{@index}}">
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="name">{{this.name}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="title">{{this.title}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="org">{{this.org}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="workPhone">{{this.workPhone}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="cellPhone">{{this.cellPhone}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="otherPhone">{{this.otherPhone}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="workEmail">{{this.workEmail}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="personalEmail">{{this.personalEmail}}</td>
                        <td contentEditable = "true" oninput="handleChange(this)" data-property="notes">{{this.notes}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>